@import 'src/styles/variables';

.chat {
  width: 100%;
  height: 100%;
  display: flex;

  .chat-window {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 30px;

    .chat-header {
      display: flex;
      padding: 15px;
      -webkit-box-shadow: 0px 8px 7px -7px rgba(66, 68, 90, 0.32);
      -moz-box-shadow: 0px 8px 7px -7px rgba(66, 68, 90, 0.32);
      box-shadow: 0px 8px 7px -7px rgba(66, 68, 90, 0.32);

      .avatar {
        width: 50px;
        height: 50px;
      }

      .friend-info {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 20px;

        .name {
          font-weight: 500;
          font-size: 16px;
        }

        .status {
          font-size: 14px;
          color: $graphite;
          font-weight: 600;
        }
      }
    }

    .messages {
      height: 90%;
      padding: 30px 30px;
      overflow-y: auto;
    }

    .chat-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 42px;
      margin: 40px auto 20px auto;
      border: 2px solid $semi-light-green;
      border-radius: 14px;
      padding-left: 10px;
      background: transparent;

      input {
        width: 90%;
        border: none;
        font-size: 14px;

        &::placeholder {
          font-size: 14px;
          color: $semi-light-green;
          font-weight: 500;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 100%;
        background: $semi-light-green;
        color: $white;
        border-radius: 14px;
        font-weight: 600;
        font-size: 14px;

        .icon {
          margin-left: 10px;
        }
      }
    }
  }
}