@import "variables";

#root {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #90969a
  }
}

button {
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &.primary-btn {
    color: $white;
    font-size: 16px;
    background: linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
    margin-top: 20px;
  }

  &.secondary-btn {
    margin-top: 15px;
    background: linear-gradient(90deg, #C1FFE8 19.05%, #E2FFF1 88.72%);
    border: 2px solid $semi-light-green;
    color: $green;
  }
}

input {
  outline: none;

  &::placeholder {
    font-size: 14px;
    color: $graphite;
  }
}

a {
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 10px;
  color: $navy-blue;
  font-size: 10px;
  font-weight: 700;
}

.labeled-link {
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: $graphite;

  a {
    margin-left: 5px;
    margin-bottom: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabs {
  margin-bottom: 30px;

  .tab {
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    height: 28px;
    color: black;
    transition: 0.5s ease;

    &.active {
      font-weight: 600;

      &::after {
        content: " ";
        display: block;
        background: $fuchsia-rose;
        height: 4px;
        width: 65%;
        border-radius: 10px;

        position: absolute;
        bottom: 0;
      }
    }
  }
}

input {
  border: 2px solid $light-grey;
  border-radius: 15px;
  padding: 5px 10px;
  background: transparent;
  margin-top: 3px;

  &:active, &:focus {
    background: transparent;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;

  color: currentColor;
  width: 20px;
  height: 20px;
  border: 2px solid $light-grey;
  border-radius: 5px;
  transform: translateY(-0.075em);
  padding: 0;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
}

input[type="checkbox"]:checked {
  background-color: $semi-light-green;
  border: none;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  box-shadow: inset 15px 15px #fff;
}

label {
  font-size: 13px;
  font-weight: 600;
  color: gray;
  margin-left: 10px;
}

button {
  background: $semi-light-green;
  color: white;
  transition: 0.5s ease;
  font-weight: 600;

  &:hover {
    background: #15c986;
  }
}