@import "variables";

#root {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #90969a
  }
}

button {
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &.primary-btn {
    color: $white;
    font-size: 16px;
    background: linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
    margin-top: 20px;
  }

  &.secondary-btn {
    margin-top: 15px;
    background: linear-gradient(90deg, #C1FFE8 19.05%, #E2FFF1 88.72%);
    border: 2px solid $semi-light-green;
    color: $green;
  }
}

input {
  outline: none;

  &::placeholder {
    font-size: 14px;
    color: $graphite;
  }
}

a {
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 10px;
  color: $navy-blue;
  font-size: 10px;
  font-weight: 700;
}

.labeled-link {
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: $graphite;

  a {
    margin-left: 5px;
    margin-bottom: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}