//COLORS
$white: #FFF;
$graphite: #979797;
$light-grey: #d2d9e0;
$very-light-grey: #f3f3f3;
$green: #2CCC76;
$semi-light-green: #02EE97;
$medium-sea-green: #0abb7a;
$navy-blue: #1181A5;
$fuchsia-rose: #f3568a;
$convs-back: #F2FCF3;