@import 'src/styles/variables';

.auth-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);

  .auth-panel {
    width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 10px 0 30px 0;
    flex-direction: column;
    background: $white;
    border-radius: 30px;

    -webkit-box-shadow: 3px 2px 31px -10px rgba(66, 68, 90, 0.77);
    -moz-box-shadow: 3px 2px 31px -10px rgba(66, 68, 90, 0.77);
    box-shadow: 3px 2px 31px -10px rgba(66, 68, 90, 0.77);

    img {
      margin-top: 20px;
      cursor: pointer;
    }

    .app-name {
      font-size: 40px;
      margin: 10px 0 15px 0;
      background: linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .auth-form {
      width: 75%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .two-factor-auth-info {
        color: $graphite;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 25px;
      }

      input {
        width: 100%;
        border: none;
        padding: 10px 5px;
        border-bottom: 2px solid $light-grey;
        margin-bottom: 15px;
        border-radius: 0;

        &:focus {
          border-bottom: 2px solid $semi-light-green;
        }

        &.filled {
          border-bottom: 2px solid $semi-light-green;
        }

        .invalid {
          border-bottom: 2px solid $fuchsia-rose;
        }
      }

      input[type="password"] {
        font: small-caption;
        font-size: 20px;
        color: $graphite;
      }

      button {
        width: 100%;
        font-weight: 700;
        padding: 10px;

        &.primary-btn {
          color: $white;
          font-size: 16px;
          background: -webkit-linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
          background: -o-linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
          background: -ms-linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
          background: linear-gradient(90deg, #2CCC76 27.64%, #02EE97 77.64%);
          opacity: 0.9;
          margin-top: 20px;

          &:hover {
            opacity: 1;
          }
        }

        &.secondary-btn {
          margin-top: 15px;
          background: linear-gradient(90deg, #C1FFE8 19.05%, #E2FFF1 88.72%);
          border: 2px solid $semi-light-green;
          color: $green;
        }
      }
    }
  }
}