<p style="<%= heading_text_style %>">
  Hello {{recipient_name}}
</p>
<span style="<%= normal_text_style %>">
  Welcome on ByeSpy!
</span>
<span style="<%= normal_text_style %>">
  The only thing left to do to enjoy your account is account activation. Please, click a button below.
</span>
<a href="{{link}}">
  <button style="<%= answer_button_style %>">
    Activate
  </button>
</a>