<p style="<%= heading_text_style %>">
  Hello
</p>
<span style="<%= normal_text_style %>">
  Someone requested reset of your account password
</span>
<span style="<%= normal_text_style %>">
  If you wish to change it, proceed to password reset page by clicking the button below
</span>
<a href="{{link}}">
  <button style="<%= answer_button_style %>">
    Open password reset page
  </button>
</a>