<p style="<%= heading_text_style %>">
  Hello
</p>
<span style="<%= normal_text_style %>">A sign in attempt requires further verification because we did not recognize your device. To complete the sign in, enter the verification code on the unrecognized device.Someone requested reset of your account password
</span>
<span style="<%= normal_text_style %>">
  Verification code: <b>{{code}}</b>
</span>
<span style="<%= normal_text_style %>">
  If you did not attempt to sign in to your account, your password may be compromised. In such situation change your password immediately!
</span>