@import 'src/styles/variables';

.topbar {
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100% - 100px);
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 0 40px;

  .title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;

    .invite-btn {
      margin: 0 100px 0 20px;
      padding: 15px 10px;
      background: $semi-light-green;
      font-weight: 600;
      color: white;
      transition: 0.5s ease;
      width: 130px;

      &:hover {
        background: #15c986;
      }
    }

    span {
      font-size: 13px;
      font-weight: 500;
      color: #555555;
      margin-right: 20px;
    }

    .avatar {
      width: 45px;
      height: 45px;
    }
  }
}